@model ViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Details</title>
</head>
<body>
    <div class="container">
        <div class="row mb-4">
            <h1 class="col-8">@Model.Wedding.Wedder1 and @Model.Wedding.Wedder2 's Wedding</h1>
            <div class="col-2 d-flex align-items-center">
                <a
                    asp-controller="Wedding"
                    asp-action = "Dashboard">
                    Dashboard
                </a>
            </div>
            <div class="col-2 d-flex align-items-center">
                <a
                    asp-controller= "LogReg"
                    asp-action = "Logout">
                    Logout
                </a>
            </div>
        </div>
        <h2>Date: @Model.Wedding.Date</h2>
        <h2>Guests:</h2>
        <ul>
            @foreach (RSVP rsvp in Model.Wedding.GuestList)
            {
                <li>@rsvp.Guest.FirstName @rsvp.Guest.LastName</li>
            }
        </ul>
        @* https://www.google.com/maps/search/?api=1&query=centurylink+field *@
<iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:Eis1MDggU2VhIENsaWZmIFdheSwgT2NlYW5zaWRlLCBDQSA5MjA1NiwgVVNBIjESLwoUChIJz85vWXNx3IARciD3x6PqvEgQ_AMqFAoSCbNSHLd0cdyAEQLFYGLKpb8T&key=AIzaSyAKWNsN_64T4tgvEhD_GbxpVXMmwBtyGLs" allowfullscreen></iframe>
        @* https://www.google.com/maps/embed/v1/MODE?key=AIzaSyAKWNsN_64T4tgvEhD_GbxpVXMmwBtyGLs&parameters *@
    </div>
</body>
</html>